.header {
  margin-top: 36px;
  padding-bottom: 37px;
  border-bottom: 1px solid #e5e5e5;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    button {
      display: flex;
      place-content: center;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
